<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="logo"></div>
<div class="login-block">
    <h1>Inicie Sesión en Karaoke </h1>
    <input type="text" value="" placeholder="Usuario" id="username" />
    <input type="password" value="" placeholder="Contraseña" id="password" />
    <button>Continuar</button>
</div>